/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2015, 4:48:06 PM
    Author     : Ajay
*/

.panel
{
    width:200px; 
    height:auto; 
    margin-left: 25px; 
    background-color:#F8F8F8; 
}

.panel-header
{
    padding-top:5px;
    text-align: center;
  
   
}

.panel li
{
   
    display:block; 
    padding-top:10px;
    padding-bottom: 10px;
    list-style-type: none;
}